<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>d3 topojson template</title>
  <link rel="stylesheet" href="/css/bundle.css">
</head>
<body>

  <div id="js-shell" class="shell">
    <header class="site-header">
      <h1 class="site-header__title">Generic Data Set</h1>
      <p class="site-header__lead">A choropleth map showing a generic data set on <span id="js-current-date"></span>.</p>
    </header>
    <div id="js-filter-container" class="filter-container"></div>
    <div id="js-map" class="map"></div>
  </div><!-- /.shell -->

  <div id="js-tooltip" class="tooltip hide"></div>

  <script src="/js/bundle.js"></script>

  <script type="text/html" id="tooltip-template">
    <span class="tooltip__name"><%= state %></span>
    <span class="tooltip__description"><%= data %> <%= label %></span>
  </script>

</body>
</html>