//
// Header
// --------------------------------------------------

.site-header {
  line-height: 1.1;
  margin: 0 0 percentage(25px / 960px) 0;
}

.project-title {
  font-size: convertPxToEms(70);
  margin: 0 0 percentage(10px / 960px) 0;
}

.lead {
  font-size: convertPxToEms(20);
  margin: 0;
}
